## macOS
.DS_Store

## Xcode
build/
DerivedData/
*.xcuserstate
*.xcuserdatad/
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Swift Package Manager
.build/
Packages/
Package.pins
Package.resolved
.swiftpm/

## CocoaPods (no usado, por las dudas)
Pods/

## Carthage (no usado, por las dudas)
Carthage/Build/
